doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Image Magic
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    #body
      input#link(type='text', autofocus='true', placeholder='Image Url')
      button#add-img Add Image
    #container

