doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill0001
  body
    header
      h1 Drill 1
      img(src='http://d.fastcompany.net/multisite_files/cocreate/imagecache/inline-large/post-inline/slide-14-zoo-book-animals.jpg')
    footer
      p Copyright PederSchacht 2014&#169;

