doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Inception Boxes
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    #controls1
      input#number(type='text', autofocus=true, placeholder='5')
      button#inception Inception!
    #container

