doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill0003
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Drill 3
      img(src='http://www.fright-bytes.com/scary-halloween-animations/vampires/vampire13.gif')
    #controls
      input#color(type='text', placeholder='Blue')
      input#add-color(type='button' value='Add Color')
    #colors  
