doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Display Forecast
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    #controls1
      input#zip(type='text', autofocus=true, placeholder='Zip Code')
      button#add-zip Add Zip Code
    #controls2
      select#zipCode
      button#getForecast Get Forecast
    #4day Four Day Forecast
      ul#day0
      ul#day1
      ul#day2
      ul#day3
    #container
      - for(var i = 0; i < 4; i++)
        .weather
          h1
          h2
          img

