doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill0002
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 Drill 2
      img(src='http://25.media.tumblr.com/ea2a9e61376d134a5805eb9bd6208023/tumblr_mh02ngQ2gL1s3r24zo1_500.gif')
    #bacon
      ul
      - for(var i = 0; i < 100; i++)
        li= i

